html, body, #page {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #222;
}

.headings {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 50pt;
	
	z-index: 100;
	
	background: #333;
	color: #EEE;
}

h1, h2 {
	padding: 0;
	margin: 4pt;
}

h1 {
	font-size: 1.3em;
}

h2 {
	font-size: 1.1em;
}

.pull-right {
	float: right;
}

.menu-option {
	float: left;
	padding: 12pt;
	color: #EEE;	
}

.hidden {
	display: none !important;
}

.menu-option:hover {
    background-color: #555;
	color: #EEE;
 
}

#container {
	border: 0;
	position: fixed !important;
	top: 50pt;
	left: 0;
	right: 0;
	bottom: 100pt;
	-height: 200px;

	margin: 0 !important;
	padding: 0 !important;

	overflow: hidden;
}

#errors {
	color: red
}

#infotitles {
	display: block;
}

#info {
	position: fixed;
	background-color: rgba(200, 200, 200, .8);
	-opacity: .5;
	top: 50pt;
	bottom: 185px;
	width: 300pt;
	right: 0;
	padding: 10pt;
	left: unset !important;
	
}

#info .content {
	overflow-x: hidden;
	overflow-y: auto;
	height: 75%;
}

#footnotes .divider {
	border-top: 0.8px solid dimgrey;
}

#timeline-embed {
	
	width: 100%;
	opacity: .8;
}

.tl-storyslider {
	display: none;
}

.tl-timenav {
	-margin-top: 435px;
}

#timeline {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}


#timeline-embed
{
	background: transparent !important;
}